<div class="panel panel-yellow">
    <div class="panel-heading">
      <h1><%= @candidate.name %></h1>
    </div>
    <div class="panel-body">
    <div class="featurette" id="about">
      <img class="featurette-image img-circle img-responsive pull-left" src="<%= @candidate.img %>">
      <h3><span class="text-muted"id='partido'>Partido: <%= @candidate.political %></span>
      <br>
      <span class="text-muted" id='atualcargo'>Cargo: <%= @candidate.job %></span>
      <br>
      <span class="text-muted" id='atualcargo'>Idade: <%= @candidate.age %></span>
      </h3>
    </div>
    </div>
    <div class="panel-footer">
      <p>
        Bio: <%= @candidate.bio %>
      </p>
    </div>
</div>
